login-language-list {
    .button-inner {
        text-transform: uppercase;
    }
    // ion-fab > button.fab.fab-ios.fab-ios-light {
    //     background: hsla(0, 0%, 100%, .7);
    //     &::before {
    //         content: '';
    //         position: absolute;
    //         top: 0; right: 0; bottom: 0; left: 0;
    //         backdrop-filter: blur(10px);
    //         z-index: -1;
    //     }
    // }
}
